.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1f2833;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: 0.3s ease-in-out;
}
.navbar-items {
  background-color: black;
  margin: 0;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  color: white;
  text-decoration: none;
}

.name-tag{
  color: rgb(158, 133, 100);
  padding: 3%;
}

.pages{
  display: flex ;
  justify-content:space-around;
  align-items: center;
  padding: 4%;
}

.links {
  padding: 3%;
}

.log-button{
  padding: 3%;
  background-color: black;
  color: aliceblue;
  border: none;
}